# 1. ละเว้นทุกไฟล์และโฟลเดอร์ทั้งหมดก่อน
*

# 2. ยกเว้นให้เอาเข้า Git เฉพาะไฟล์ที่ต้องการใช้งานจริง
!.gitignore
!app.py.py
!Index.html

# 3. กำหนดบล็อก .env ไว้ชัดเจนเพื่อความปลอดภัยสูงสุด (เผื่ออนาคตเปลี่ยนกฎ)
.env
.env.*